/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 

*/




.container-fluid{
    
    padding: 3% 15%;
}

.hero-section{
    background-color: #44bc67;
}

.col-lg-6 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 30px;
    color: white;
}

nav{
    margin: 30px 0;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: white;
    padding: 0;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}


.heading-text-box{
    padding: 50px 0;
}

.title-row{
    padding: 0 1.4%;
}

.col-lg-6 img{
    height: 70%;
    height: 70%;
    transform: rotate(25deg);
}

.benefits-section{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.col-lg-4 h3{
    font-family:'Montserrat', sans-serif ;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 3%;
}

.col-lg-4 p{
    font-family:'Montserrat-thin', sans-serif ;
    color: #8f8f8f;
    
}

.facon{
    color: #44bc67;
}


.facon:hover{
    color: #32da64;
}

