/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 

*/




.container-fluid{
    
    padding: 3% 15%;
}

.hero-section{
    background-color: #44bc67;
}

.col-lg-6 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
 
    font-size: 3rem;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
}

nav{
    margin: 50px 0;
}



.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: white;
    padding: 0;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}


.heading-text-box{
    padding: 50px 0 0;
}

.title-row{
    padding: 0 1.4%;
}

.hero-image{
    width: 22%;
    position: absolute;
    right: 25%;
    transform: rotate(25deg);
    z-index: 1;
}


.benefits-section{
    text-align: center;
    padding: 10% 15%;
    position: relative;
    z-index: 3;
}

.benefits-heading{
    font-family:'Montserrat', sans-serif ;
    font-weight: 900;
    font-size: 2rem;
    margin-top: 3%;
}

.col-lg-4 p{
    font-family:'Montserrat-thin', sans-serif ;
    color: #8f8f8f;
    
}

.facon{
    color: #44bc67;
}


.facon:hover{
    color: #32da64;
}


/* testimonial */

.testimonial{
    background-color: #32da64;
    text-align: center;
    padding: 7% 15%;
    color: white;
}

.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 10px;
}

/* credibility */

#credibility{
    text-align: center;
    background-color: #32da64;
    padding-bottom: 5%;
}

.credibility-logo{
    width: 15%;
    margin: 3px 15px;
}


/* pricing */

#pricing{
    text-align: center;
    padding: 7% 15%;
}

.price-box{
    margin-top: 30px;
}


/* cta */

#cta{
    background-color: #32da64;
    padding: 7% 15%;
    text-align: center;
    color: #fff;
}


#footer{
    padding: 7% 15%;
    text-align: center;
}

.faicon{
    margin: 5px;
}



@media (max-width: 1030px){
    .hero-image{
        width: 100%;
       
        
        transform: rotate(0);
        
    }
}